.DashboardV2 {
  padding-top: 4.65rem;
}

.DashboardV2-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-top: 0.8rem;
}

.DashboardV2-token-cards {
  margin-top: 0.8rem;
}

.token-table-wrapper {
  border: 1px solid #1e2136;
  border-radius: 0.4rem;
  background: #17182c;
  padding: 0 1.5rem;
  text-align: left;
}

.token-table-wrapper .App-card-title {
  justify-content: unset;
}

.token-table-wrapper .App-card-title img {
  /* margin-top: 0.3rem; */
  display: inline-flex;
  /* margin-left: 0.8rem; */
}

.App-card-title-icon {
  display: flex;
  margin-left: 1.2rem;
}

.App-card-title-icon img + img {
  margin-left: 0.6rem;
}

.stats-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.stats-wrapper .App-card {
  width: 100%;
  display: flex;
}

.stats-block {
  width: 100%;
}

.stats-piechart {
  margin: -1rem;
  margin-left: 1.5rem;
}

.stats-block--glp .stats-label {
  grid-row-gap: 0;
}

.stats-label {
  font-size: var(--font-sm);
  line-height: 1.6rem;
  border-radius: 0.4rem;
  padding: 1.05rem;
  letter-spacing: 0.4px;
  text-align: left;
  z-index: 1;
  background: linear-gradient(90deg, #0b0b0f 0%, rgba(10, 13, 28, 1) 100%);
  cursor: pointer;
}

.stats-label-color {
  width: 0.4rem;
  height: 100%;
  margin-right: 1.5rem;
}

.Available-network-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8rem;
}

.Available-network-group .Tooltip {
  display: flex;
}

.Available-network-group .Available-network {
  display: flex;
}

.Available-network-group .Available-network img {
  filter: grayscale(100%);
}

.Available-network-group .Tooltip-handle.active .Available-network img {
  filter: unset;
}

.Available-network-group .Available-network img:hover {
  filter: unset;
}

.token-table .token-symbol-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4.65rem;
}

.DashboardV2-token-cards .token-table td:nth-child(3),
.DashboardV2-token-cards .token-table th:nth-child(3) {
  width: 20rem;
}
.mobile-token-card {
  display: flex;
  align-items: center;
}

.token-symbol-text {
  line-height: 1;
}

.mobile-token-card > img {
  margin-right: 0.8rem;
}

.App-card-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.App-card-content {
  width: 45%;
}

.App-card-content-1 {
  /* width: 45%; */
}

.Modal-token-symbol {
  font-size: 1.4rem;
  text-align: right;
}

.Modal-token-input {
  text-align: right;
}

input.Modal-swap-input {
  padding: 0;
  max-width: 100%;
  font-size: var(--font-lg);
  width: 100%;
  padding-right: 2rem;
  text-align: right;
}
input.Modal-swap-input.small {
  max-width: 14.725rem;
}

.StakeModal .Uniswap {
  margin-bottom: 20px;
}

.ChartModal .Modal-content {
  width: 60%;
}

@media (max-width: 1024px) {
  .stats-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .stats-wrapper .App-card {
    max-width: unset !important;
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .token-table-wrapper {
    display: flex;
  }
  input.Modal-swap-input {
    max-width: 15.5rem;
  }
  .ChartModal .Modal-content {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .DashboardV2-cards {
    grid-template-columns: 1fr;
  }

  .DashboardV2-token-cards .token-grid {
    padding-top: 0;
  }
  .ChartModal .Modal-content {
    width: 85%;
  }
}

@media (max-width: 870px) {
  .stats-wrapper .App-card {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .stats-piechart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .App-card-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .App-card-content {
    width: 100% !important;
    margin-bottom: 9px;
  }
}

@media (max-width: 500px) {
  .ChartModal .Modal-content {
    width: 95%;
  }
}

#dexscreener-embed {
  position: relative;
  width: 100%;
  padding-bottom: 150%;
}

@media(min-width: 900px) {
  #dexscreener-embed {
      padding-bottom: 65%;
  }
}
#dexscreener-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
